body{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
nav{
    width: 50%;
}

nav ul li:hover{
    background-color: rgb(196, 190, 190);
    border-radius: 20px;
}
nav ul li:active{
    background-color: rgb(70, 70, 70);
    border-radius: 20px;
}
main{margin: 0px 40px; }
main h1{
    font-size: 30px;
    margin: 15px 0px;
}

footer{background-color: #1d1d1d}
footer p,.nav-link{color: beige;}
.nav-link:focus, .nav-link:hover{color: rgb(90, 90, 90);}

hr{border: 2px rgb(31, 31, 31) solid}
.div0, .div1, .div2, .div3{display: flex; }
.div0{gap: 100px}
.div1{gap: 20px; width: 670px}
.div2{flex-direction: column; gap: 30px; justify-content: center;}
.div3{flex-direction: column; justify-content: center;}
.list-group-item{display: flex; gap: 10px;}
.list-group-item:hover{outline: 4px #383838 solid; z-index: 1;}

.div4{display: flex; flex-direction: column; width: 200px;}
.div4 h5{color: rgb(51, 51, 51)}
.div4 small{color: rgb(102, 101, 101) ;}
.list-group-item p{margin:0; align-self: center; }
